<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>Chamado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="../static/css/style-ticket.css">
    </head>
<script>
        function exibirHoraAtual() {
        var data = new Date();
        var dia = data.getDate();
        var diaSemana = obterDiaSemana(data.getDay());
        var hora = data.getHours();
        var minutos = data.getMinutes();
        var segundos = data.getSeconds();
        var mes = data.getMonth() + 1;

        // Formatação dos valores com zero à esquerda se necessário
        dia = (dia < 10 ? "0" : "") + dia;
        hora = (hora < 10 ? "0" : "") + hora;
        minutos = (minutos < 10 ? "0" : "") + minutos;
        segundos = (segundos < 10 ? "0" : "") + segundos;


        // Concatenação da hora formatada
        var horaAtual = hora + ":" + minutos + ":" + segundos + diaSemana + dia;

        // Atualiza o conteúdo do elemento com o ID "hora-atual"
        document.getElementById("hora-atual").textContent = horaAtual;
    }

    // Função auxiliar para obter o dia da semana por extenso
    function obterDiaSemana(dia) {
        var diasSemana = [" Dom, ", " Seg, ", " Ter, ", " Qua, ", " Qui, ", " Sex, ", "Sáb, "];
        return diasSemana[dia];
    }

    // Chama a função a cada segundo para manter a hora atualizada
    setInterval(exibirHoraAtual, 1000);

</script>

<body>
<nav class="navi">
    <p id="hora-atual"></p>
</nav>

    <nav class="menu" id="menu">
        <ul>
          <li class="menu-item">
            <form method="POST" action="/" class="logo">
                <button type="submit" id="logo" alt="Logo"></button>
              </form>
          </li>
          <li class="menu-item">
            <form method="POST" action="/" class="home">
              <button type="submit" id="home"></button>
              <span class="legenda">Home</span>
            </form>
          </li>
          <li class="menu-item">
            <form method="POST" action="/criar_ticket">
              <button type="submit" id="criar_ticket"></button>
              <span class="legenda">Criar Chamado</span>
            </form>
          </li>
          <li class="menu-item">
            <form method="POST" action="/tickets_fechados">
              <button type="submit" id="tickets"></button>
              <span class="legenda">Chamados Fechados</span>
            </form>
          </li>
          <li class="menu-item">
            <form method="POST" action="/logout">
              <button type="submit" id="logout" class="logout"></button>
              <span class="legenda">Sair</span>
            </form>
          </li>
        </ul>
      </nav>
      <div id="mensagens" class="chat">
        {% for mensagem in ticket.mensagens %}
        <div class="mensagem {% if mensagem.tipo_autor == 'Atendente' %}atendente{% else %}cliente{% endif %}">
            <p class="autor">{{ mensagem.autor }}</p>
            <p class="texto">{{ mensagem.texto }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="barleaft">
    <div class="detalhes_ticket">

            <h2>DETALHES DO CHAMADO</h2>
           
            <p>Número do Ticket: {{ ticket.numero }}</p>
              <p>Cliente: {{ ticket.cliente }}</p>
                <p>Número Telefone: {{ ticket.telefone_cliente}}</p>
                  <p>Assunto: {{ ticket.assunto }}</p>
                    <p>Descrição: {{ ticket.descricao }}</p>
                      <p>Origem: {{ ticket.origem }}</p>
                        <p>Status: {{ ticket.status }}</p>
            

            {% if ticket.data_inicial %}
            <p>Data Inicial: {{ ticket.data_inicial }}</p>
            {% endif %}

            {% if ticket.data_final %}
            <p>Data Final: {{ ticket.data_final }}</p>
            <p>Tempo Ocorrido: {{ ticket.tempo_ocorrido }}</p>
            {% endif %}

            <div class="fechar">
              {% if ticket.status == 'Aberto' %}
                      <form method="POST" action="/fechar_ticket/{{ ticket.numero }}">
                        
                        <button type="submit" id="fechar_ticket" class="custom-btn btn-5"><span>Encerrar Chamado</span></button>
                      </form>
                  {% endif %}
                </div>


    </div>

  </div>
         {% if ticket.status == 'Aberto' %}
            <form method="POST" action="/adicionar_mensagem/{{ ticket.numero }}">
            <div class="user">
                <label for="autor">Usuario:</label>
                <div class="user-online-indicator "></div>
                <input type="text" id="autor" name="autor" value="{{ session['nome_atendente'] }}" readonly><br>
                <div class="sonar"></div>
            </div>  
                <div class="enviar">
                <input type="text" id="mensagem" name="mensagem" required >
                <button type="submit" value="Adicionar Mensagem"  id="btnEnviarMensagem"></button>
            </div>
            </form>
        {% endif %}
            


        <div class="notification-new-ticket">
        <div id="ticket-list"></div>
          <h2>Tickets Abertos</h2>
          {% if tickets %}
                <ul>
                    {% for ticket in tickets %}
                        {% if ticket.status == 'Aberto' %}
                            <li>
                                Número do Ticket: {{ ticket.numero }},
                                Cliente: {{ ticket.cliente }},
                                Número Telefone: {{ ticket.telefone_cliente}}
                                Assunto: {{ ticket.assunto }},
                                Descrição: {{ ticket.descricao }},
                                Origem: {{ ticket.origem }}, 
                                Status: {{ ticket.status }}
                                {% if ticket.status == 'Aberto' %}
                                    <form method="POST" action="/fechar_ticket/{{ ticket.numero }}">
                                        <input type="submit" value="Fechar Ticket">
                                    </form>
                                {% endif %}
                                <a href="{{ url_for('exibir_ticket', numero_ticket=ticket.numero) }}">Detalhes do Ticket</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum ticket aberto.</p>
            {% endif %}
        </div>

        


       


      <script>



                  // Função para rolar automaticamente a div de mensagens para baixo
                  function rolarParaBaixo() {
                    var mensagensDiv = document.getElementById('mensagens');
                    mensagensDiv.scrollTop = mensagensDiv.scrollHeight;
                  }

                  // Chama a função de rolagem automática quando a página é carregada
                  window.addEventListener('load', rolarParaBaixo);

                  // Função para adicionar uma nova mensagem
                  function adicionarMensagem(autor, texto) {
                    var mensagemHTML = '<div class="chat">' +
                                        '<p class="autor">' + autor + '</p>' +
                                        '<p class="texto">' + texto + '</p>' +
                                      '</div>';

                    var mensagensDiv = document.getElementById('mensagens');
                    mensagensDiv.innerHTML += mensagemHTML;
                    rolarParaBaixo();
                  }

              

                // Obtém o nome do atendente da sessão
                var nomeAtendente = "{{ session['nome_atendente'] }}";

                // Obtém todas as mensagens
                var mensagens = document.querySelectorAll('.mensagem');

                // Itera sobre cada mensagem e adiciona a classe correspondente ao autor
                mensagens.forEach(function(mensagem) {
                var autor = mensagem.querySelector('.autor').textContent;

                if (autor === nomeAtendente) {
                    mensagem.classList.add('atendente');
                } else {
                    mensagem.classList.add('cliente');
                }
                });

            // Função para atualizar as mensagens do ticket
            function atualizarMensagens() {
                var numeroTicket = { ticket,numero };
                var url = '/atualizar_mensagens/' + numeroTicket;
        
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $('#mensagens').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        
            // Chama a função de atualização de mensagens a cada 5 segundos
            setInterval(atualizarMensagens, 3000);
        </script>
    </body>
</html>
